# Application
NODE_ENV=development

# Server
PORT=3000

# MongoDB
MONGODB_URI=

# Redis
REDIS_URL=

# Authentication
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# Session / security
SESSION_SECRET=